<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="./Public/Admin/Css/public.css" rel="stylesheet" type="text/css" />
	<link href="./Public/Admin/Css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print" />
	<link href="./Public/Admin/Css/print.css" rel="stylesheet" type="text/css"  media="print" />
	<script src="./Public/Admin/Js/jquery-1.10.1.min.js"></script>
	<script src="./Public/Admin/Js/side.js" type="text/javascript"></script>
<title>请假管理</title>
<script type="text/javascript">
function confirmDel(id)
{
	if(window.confirm("确认是否删除！"))
	{
		location.href="?c=afleave&a=delete&id="+id;
	}
}
</script>
</head>

<body>
<div id="MainForm">
	<div class="form_boxA">
		<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="border">
			<tr>
				<h2>请假管理</h2>
<tr class="title" align="center">
	<td>编号</td>
	<td>姓名</td>
	<td>部门</td>
	<td>时间</td>
	<td>操作选项</td>
</tr>
<{foreach $afleaves as $afleave}>
<tr class="tdbg" align="center">
	<td><{$afleave.id}></td>
	<td><{$afleave.name}></td>
	<td><{$afleave.department}></td>
	<td><{$afleave.afl_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
	<td><a href="?c=Working&a=edit&id=<{$afleave.id}>">修改</a> |
	<a href="javascript:void(0)" onclick="confirmDel(<{$afleave.id}>)">删除</a></td>
</tr>
<{/foreach}>
<!--评论分页-->
<tr class="tdbg">
	<td colspan="7" align="center"><{$pageStr}></td>
</tr>

</table>
	</div>
</div>
</body>
</html>
